<!DOCTYPE html>
<html lang="en" ng-app="search">
<head>
    <meta charset="UTF-8">
    <title>Flick. No Frills Flickr Search</title>

    <link href="https://fonts.googleapis.com/css?family=Trocchi" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>
<body ng-controller="MainCtrl as vm">
    <header ng-hide="vm.results">
        <h1 class="title">
            Flick.
        </h1>
        <h3>A no frills Flickr search tool</h3>
    </header>

    <section class="head-min" ng-hide="!vm.results">
        <div class="logo" ng-click="vm.reset()">
            <h1 class="title">
                Flick.
            </h1>
        </div>

        <form name="vm.searchBarMin" class="search-bar" ng-submit="vm.submitSub()">
            <input type="text" name="search" ng-model="vm.userQuery" placeholder="Search Again" required>
            <button type="submit">Go</button>
        </form>
    </section>

    <section class="search" ng-hide="vm.results">
        <form name="vm.searchBar" class="search-bar" ng-submit="vm.submitMain()" novalidate>
            <input type="text" name="search" placeholder="Search..." ng-model="vm.userQuery" required>
            <button type="submit">Go</button>
        </form>
    </section>

    <section class="results">
        <div class="feedback-box">
            <h3 ng-if="vm.searching" class="feedback-text">Searching for "{{ vm.lastQuery }}"</h3>
            <h3 ng-if="vm.searched && !vm.searching" class="feedback-text">Displaying {{ vm.resultsLength }} results for "{{ vm.lastQuery }}"</h3>
        </div>

        <div class="images" ng-hide="!vm.results">
            <ul class="search-results">
                <li ng-repeat="photo in vm.photos"><img src="{{ photo }}"></li>
            </ul>
        </div>

        <div class="no-results" ng-hide="!vm.error">
            <h2 ng-if="vm.resultsError" class="error-message">No results, try making changes to your Search</h2>
            <h2 ng-if="vm.inputError" class="error-message">Enter a search term</h2>
        </div>
    </section>

    <footer>
        <h3>App by Joe Reed</h3>
    </footer>

    <script src="//code.angularjs.org/1.5.7/angular.min.js"></script>
    <script src="js/script.js"></script>

</body>
</html>
